{% extends "base_new.html" %}

{% block content %}
{% load static %}
<!-- THIS IS WHERE THE BODY CONTENT  -->
  <!-- end Header -->
  <!-- Start Banner -->
  <div class="inner-banner blog">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="content">
            <h1>About Us</h1>
            <p>LGMS is duly recognized by the Department of Education in 2003 for our Casa course, 2006 for complete elementary course and 2013 complete Secondary Course</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Banner -->

  <!-- Start About -->
  <section class="about inner padding-lg">
    <div class="container">
      <div class="row">
        <div class="col-md-7 left-block">
          <h2>Who we are</h2>
          <p>LGMS is a non-stock, non-profit, non- sectarian family owned educational institution, which started January of 2000.The school started with a small group of children on a rented bungalow house in Aguirre exactly where our
      small building now is situated.</p>
          <p>As a continuous service for the students and parents, LGMS purchased the house and lot ,
        demolished the bungalow house and re-built a new building in 2005 to cater to the growing population .
        From then on, yearly renovations and building improvements are being done.</p>
        <p>The Montessori approach offers a broad vision of education as an aid to life.</p>
          </div>
        <div class="col-md-5 about-right"> <img src="{% static "lgmssis/images/building.jpg" %}" class="img-responsive" alt=""> </div>
        </div>
    </div>

    <!-- mission and vision core values -->
<section  class="our-impotance padding-lg">
  <div class="container">
      <div class="col-md-6 left-block">
          <h2>MISSION</h2>
          <p>Creates rich, comprehensive curriculum.</p>
            <p>Developing mindset that embraces challenges</p>
            <p>Promote prepared environment</p>
          </div>
          <div class="col-md-6 about-right"> 
              <h2>VISION</h2>
              <p>Learning Garden Montessori School envisions lifelong learners who have strong foundation in academic skills and social values to be good citizens and stewards of earth</p>
             </div>

  </div>
   
</section>
  </section>
 
  <!-- End About -->

    <!-- Start Our Importance -->
    {% load static %}
    <section class="our-impotance padding-lg">
        <div class="container">
          <ul class="row">
            <li class="col-sm-4 equal-hight">
              <div class="inner"> <img src="{% static "lgmssis/images/excellence.png" %}" alt="Malleable Study Time">
                <h3>EXCELLENCE</h3>
                <p>Strives to be the best in everything we do.</p>
              </div>
            </li>
            <li class="col-sm-4 equal-hight">
              <div class="inner"> <img src="{% static "lgmssis/images/respect1.png" %}" alt="Placement Assistance">
                <h3>RESPECT</h3>
                <p>giving due respect to self and others and maintain the environment of team work and growth.</p>
              </div>
            </li>
            <li class="col-sm-4 equal-hight">
              <div class="inner"> <img src="{% static "lgmssis/images/integrity.png" %}" alt="Study on the Go">
                <h3>INTEGRITY</h3>
                <p>To act fairly and honestly without compromising the truth.</p>
              </div>
            </li>
            <li class="col-sm-4 equal-hight"> 
              <div class="inner"> <img src="{% static "lgmssis/images/compassion.png" %}" alt="Get an Innovative, In-depth Transition">
                <h3>COMPASSION</h3>
                <p>For those whose need is great and COMMITTED to transform the situation for the better.</p>
              </div>
            </li>
            <li class="col-sm-4 equal-hight">
              <div class="inner"> <img src="{% static "lgmssis/images/commitment.png" %}" alt="Practical & Interactive Participation">
                <h3>COMMITMENT</h3>
                <p>Consistency is the key.</p>
              </div>
            </li>
            <li class="col-sm-4 equal-hight">
                <div class="inner"> <img src="{% static "lgmssis/images/accountability.png" %}" alt="Practical & Interactive Participation">
                  <h3>ACCOUNTABILITY</h3>
                  <p>Willingness to accept our responsibility for our action.</p>
                </div>
              </li>
          </ul>
        </div>
      </section>
      <!-- End Our Importance -->

  <!-- Start Why Choose -->
  <!-- <section class="why-choose grey-bg padding-lg">
    <div class="container">
      <h2><span>The Numbers Say it All</span>Why Choose Us</h2>
      <ul class="our-strength opt2">
        <li>
          <div class="icon"><span class="icon-certification-icon"> </span></div>
          <span class="counter">36</span>
          <div class="title">Certified Courses</div>
        </li>
        <li>
          <div class="icon"><span class="icon-student-icon"></span></div>
          <span class="counter">258,658</span>
          <div class="title">Students Enrolled </div>
        </li>
        <li>
          <div class="icon"><span class="icon-book-icon"></span></div>
          <div class="couter-outer"><span class="counter">95</span><span>%</span></div>
          <div class="title">Passing to Universities</div>
        </li>
        <li>
          <div class="icon"><span class="icon-parents-icon"></span></div>
          <div class="couter-outer"><span class="counter">100</span><span>%</span></div>
          <div class="title">Satisfied Parents</div>
        </li>
      </ul>
    </div>
  </section> -->
  <!-- End Why Choose -->

  <!-- Start About Video -->
  <section class="about-video">
    <div class="container">
      <p>Some of our Activities <a class="video" href="https://www.youtube.com/watch?v=3fsp6FCLuqY"> <span class="icon-play-icon"></span></a> Know more</p>
    </div>
  </section>
  <!-- End About Video -->



  <!-- Start Browse Teacher -->
  <!-- <section class="browse-teacher grey-bg padding-lg">
    <div class="container">
      <h2><span>There are many ways to learn</span> BROWSE BY TEACHER</h2>
      <ul class="row browse-teachers-list clearfix">
        <li class="col-xs-6 col-sm-3">
          <figure> <img src="{% static "lgmssis/images/dory.jpg" %}" width="123" height="124" alt=""> </figure>
          <h3>Ms. Dorothy R. Montoya</h3>
          <span class="designation">English Teacher</span>
          <p class="equal-hight">Learn English.</p>
          <ul class="teachers-follow">
            <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-skype" aria-hidden="true"></i></a></li>
          </ul>
        </li>
        <li class="col-xs-6 col-sm-3">
          <figure> <img src="{% static "lgmssis/images/dumadag.jpg" %}" width="123" height="124" alt=""> </figure>
          <h3>Ms. Alfreda A. Dumadag</h3>
          <span class="designation">SPED Teacher</span>
          <p class="equal-hight">Specialised Educational Enthusiast.</p>
          <ul class="teachers-follow">
            <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-skype" aria-hidden="true"></i></a></li>
          </ul>
        </li>
        <li class="col-xs-6 col-sm-3">
          <figure> <img src="{% static "lgmssis/images/acosta.jpg" %}" width="123" height="124" alt=""> </figure>
          <h3>Ms. Lovely N. Acosta</h3>
          <span class="designation">Filipino Teacher</span>
          <p class="equal-hight">What Filipino Language has to offer.</p>
          <ul class="teachers-follow">
            <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-skype" aria-hidden="true"></i></a></li>
          </ul>
        </li>
        <li class="col-xs-6 col-sm-3">
          <figure> <img src="{% static "lgmssis/images/icada.jpg" %}" width="123" height="124" alt=""> </figure>
          <h3>Ms. Cristel G.  Iscada</h3>
          <span class="designation">CASA Teacher</span>
          <p class="equal-hight">.....</p>
          <ul class="teachers-follow">
            <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-skype" aria-hidden="true"></i></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </section> -->
  <!-- end Browse Teacher -->
  {% endblock %}
  <!-- Start logos -->
