{% extends "base.html" %}
{% block content %}

<!-- Start Banner -->
<div class="inner-banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-lg-9">
                <div class="content">
                    <h1>Skilled Courses</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3"> <a href="apply-online.html" class="apply-online clearfix">
                <div class="left clearfix"> <span class="icon"><img src="images/apply-online-sm-ico.png" class="img-responsive" alt=""></span> <span class="txt">Apply Online</span> </div>
                <div class="arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                </a> <a href="#" class="download-prospects"><span class="icon-brochure-icon"></span> Download Prospects</a> </div>
        </div>
    </div>
</div>
<!-- End Banner -->

<!-- Start About Section -->
<section class="about inner padding-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="video-block">
                    <div id="thumbnail_container"> <img src="images/about-video.jpg" id="thumbnail" class="img-responsive" alt=""> </div>
                    <a href="https://www.youtube.com/watch?v=i11RXCJVEnw" class="start-video video"><img src="images/play-btn.png" alt=""></a> </div>
                <div class="btn-wrapper clearfix"> <a href="#" class="download-pros"> <span class="ico-block"><img src="images/download-prospects-ico2.png" alt="download prospects"></span> <span class="txt-block"> <span class="sm-txt">Download</span> Prospects </span> </a> <a href="#" class="download-cert"> <span class="ico-block"><img src="images/certification-sm-ico.png" alt="certification"></span> <span class="txt-block"> <span class="sm-txt">Download</span> Certification </span> </a> </div>
            </div>
            <div class="col-md-7 left-block">
                <h2>Online skilled Courses</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->

<!-- Start Cources Section -->
<section class="our-cources sub padding-lg">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2> <span>Unique Features of our programs</span> What do you want to study?</h2>
            </div>
            <div class="col-sm-4">
                <div class="select-course">
                    <select class="custom_select">
                        <option value="Online MBA">CASA</option>
                        <option value="Online MCA">SPED</option>
                        <option value="Online BCA">GRADE SCHOOL</option>
                    </select>
                </div>
            </div>
        </div>
        <ul class="row course-list inner">
            <li class="col-xs-6 col-sm-4 col-md-3">
                <div class="inner">
                    <figure><img src="images/course-img1.jpg" alt=""></figure>
                    <h3>CASA <span>Teach</span></h3>
                    <p>A comprehensive study of modern business...</p>
                    <div class="fess-box"> Fees :<span>$230</span> </div>
                    <div class="bottom-txt clearfix">
                        <div class="duration">
                            <h4>2 Year</h4>
                            <span> Courses</span> </div>
                        <a href="#"><span class="icon-more-icon"></span></a> </div>
                </div>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3">
                <div class="inner">
                    <figure><img src="images/course-img2.jpg" alt=""></figure>
                    <h3>SPED<span>Education</span></h3>
                    <p>A comprehensive study of modern business...</p>
                    <div class="fess-box"> Fees :<span>$230</span> </div>
                    <div class="bottom-txt clearfix">
                        <div class="duration">
                            <h4>1 Year</h4>
                            <span> Courses</span> </div>
                        <a href="#"><span class="icon-more-icon"></span></a> </div>
                </div>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3">
                <div class="inner">
                    <figure><img src="images/course-img3.jpg" alt=""></figure>
                    <h3>Elementary <span>School</span></h3>
                    <p>A comprehensive study of modern business...</p>
                    <div class="fess-box"> Fees :<span>$230</span> </div>
                    <div class="bottom-txt clearfix">
                        <div class="duration">
                            <h4>3 Year</h4>
                            <span> Courses</span> </div>
                        <a href="#"><span class="icon-more-icon"></span></a> </div>
                </div>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3">
                <div class="inner">
                    <figure><img src="images/course-img4.jpg" alt=""></figure>
                    <h3>Junior<span>High</span><span>School</span></h3>
                    <p>A comprehensive study of modern business...</p>
                    <div class="fess-box"> Fees :<span>$230</span> </div>
                    <div class="bottom-txt clearfix">
                        <div class="duration">
                            <h4>2 Year</h4>
                            <span> Courses</span> </div>
                        <a href="#"><span class="icon-more-icon"></span></a> </div>
                </div>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3">
                <div class="inner">
                    <figure><img src="images/course-img1.jpg" alt=""></figure>
                    <h3>Senior <span>High School</span></h3>
                    <p>A comprehensive study of modern business...</p>
                    <div class="fess-box"> Fees :<span>$230</span> </div>
                    <div class="bottom-txt clearfix">
                        <div class="duration">
                            <h4>2 Year</h4>
                            <span> Courses</span> </div>
                        <a href="#"><span class="icon-more-icon"></span></a> </div>
                </div>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3">
                <div class="inner">
                    <figure><img src="images/course-img2.jpg" alt=""></figure>
                    <h3>ABM <span>Study</span></h3>
                    <p>A comprehensive study of modern business...</p>
                    <div class="fess-box"> Fees :<span>$230</span> </div>
                    <div class="bottom-txt clearfix">
                        <div class="duration">
                            <h4>1 Year</h4>
                            <span> Courses</span> </div>
                        <a href="#"><span class="icon-more-icon"></span></a> </div>
                </div>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3">
                <div class="inner">
                    <figure><img src="images/course-img3.jpg" alt=""></figure>
                    <h3>GAS<span>Study</span></h3>
                    <p>A comprehensive study of modern business...</p>
                    <div class="fess-box"> Fees :<span>$230</span> </div>
                    <div class="bottom-txt clearfix">
                        <div class="duration">
                            <h4>3 Year</h4>
                            <span> Courses</span> </div>
                        <a href="#"><span class="icon-more-icon"></span></a> </div>
                </div>
            </li>
        </ul>
        <div class="row">
            <div class="col-sm-12">
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                        <li> <a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</span> </a> </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li> <a href="#" aria-label="Next"> <span aria-hidden="true">Next <i class="fa fa-angle-right" aria-hidden="true"></i></span> </a> </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Cources Section -->

<!-- Start Browse Teacher -->
<section class="browse-teacher padding-lg">
    <div class="container">
        <h2><span>There are many ways to learn</span> BROWSE BY TEACHER</h2>
        <ul class="row browse-teachers-list clearfix">
            <li class="col-xs-6 col-sm-3">
                <figure> <img src="images/teacher1.jpg" width="124" height="124" alt=""> </figure>
                <h3>Bruno Acselrad</h3>
                <span class="designation">Math Teacher</span>
                <p class="equal-hight">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                <ul class="teachers-follow">
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                </ul>
            </li>
            <li class="col-xs-6 col-sm-3">
                <figure> <img src="images/teacher2.jpg" width="123" height="124" alt=""> </figure>
                <h3>Bruno Acselrad</h3>
                <span class="designation">Senior Lecturor</span>
                <p class="equal-hight">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                <ul class="teachers-follow">
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                </ul>
            </li>
            <li class="col-xs-6 col-sm-3">
                <figure> <img src="images/teacher3.jpg" width="123" height="124" alt=""> </figure>
                <h3>Bruno Acselrad</h3>
                <span class="designation">Development</span>
                <p class="equal-hight">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                <ul class="teachers-follow">
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                </ul>
            </li>
            <li class="col-xs-6 col-sm-3">
                <figure> <img src="images/teacher4.jpg" width="123" height="124" alt=""> </figure>
                <h3>Bruno Acselrad</h3>
                <span class="designation">professor</span>
                <p class="equal-hight">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                <ul class="teachers-follow">
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>

<!-- end Browse Teacher -->

{% endblock %}
