{% extends "base_new.html" %}

{% block content %}
  <!-- Start Banner -->
  <div class="inner-banner blog">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="content">
            <h1>Faq</h1>
            <p>If you have basic inquiry please choose below.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Banner -->

  <!-- Start FAQ -->
  <section class="faq-wrapper padding-lg">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="search-block clearfix">
            <input name="Search" placeholder="Search Now" type="text">
            <button class="search"><span class="icon-search-icon"></span></button>
          </div>
        </div>
      </div>
      <ul class="row faq-listing">
        <li class="col-sm-6">
          <div class="inner equal-hight">
            <h2>When is the enrollment for 2019 - 2020?</h2>
            <p>Enrollment is now on-going. Please contact us or visit our Campus</p>
          </div>
        </li>
        <li class="col-sm-6">
          <div class="inner equal-hight">
            <h2>How much is the enrollment fee ?</h2>
            <p>It depends on your specific set of chosen programme. </p>
          </div>
        </li>
        <li class="col-sm-6">
          <div class="inner equal-hight">
            <h2>Do you accept transferee ?</h2>
            <p>Yes, please check our application procedure. </p>
          </div>
        </li>
        <li class="col-sm-6">
          <div class="inner equal-hight">
            <h2>Do you accept installment plan basis ?</h2>
            <p>Yes, just indicate that request upon enrollment.</p>
          </div>
        </li>
        <li class="col-sm-6">
          <div class="inner equal-hight">
            <h2>How many retakes for the failed application Exam ?</h2>
            <p>Exam can only take it once.</p>
          </div>
        </li>
        <li class="col-sm-6">
          <div class="inner equal-hight">
            <h2>Do you have a fix miscellaneous fee ?</h2>
            <p>It depends on the specific chosen programme. </p>
          </div>
        </li>
        <li class="col-sm-6">
          <div class="inner equal-hight">
            <h2>What other activities can you offer for my child ?</h2>
            <p>Sport, Creativity and Art. </p>
          </div>
        </li>
        <li class="col-sm-6">
          <div class="inner equal-hight">
            <h2>When is the start of the School Year 2019 ?</h2>
            <p>June 2019</p>
          </div>
        </li>
        <li class="col-sm-6">
            <div class="inner equal-hight">
              <h2>Do you accept Non - Catholic Student ?</h2>
              <p>Yes, Non </p>
            </div>
          </li>
      </ul>
      <hr>
      <div class="text-center">
        <ul class="pagination blue">
          <li> <a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</span> </a> </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li> <a href="#" aria-label="Next"> <span aria-hidden="true">Next <i class="fa fa-angle-right" aria-hidden="true"></i></span> </a> </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End FAQ -->

{% endblock %}
  
