{% extends "base.html" %}
{% block content %}

{% load static %}

<!-- Start Banner -->
<div class="inner-banner blog">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="content">
          <h1>News & events</h1>
          <p>Catch the Latest News and Events.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Banner -->

<!-- Start News & Events -->
<section class="news-wrapper padding-lg">
  <div class="container">
    <ul class="row news-listing">
      <li class="col-xs-6 col-sm-4 grid-item">
        <div class="inner"> <img src="{% static 'lgmssis/images/sem59.jpg' %}" class="img-responsive" alt="">
          <div class="cnt-block">
            <ul class="post-detail">
              <li><span class="icon-date-icon ico"></span> <span class="bold">14 Feb</span> 2017</li>
              <li><span class="icon-chat-icon ico"></span><span class="bold">14</span> Comments</li>
            </ul>
            <h2>National Safe Kids 2018 </h2>
            <p>We invited officers from Bureau of Fire and Protection Parañaque and Volunteers from Philippine RED CROSS</p>
            <a href="{% url 'news-nationalsafe'%}" class="read-more"><span class="icon-play-icon"></span>Read More</a>
          </div>
        </div>
      </li>
      <li class="col-xs-6 col-sm-4 grid-item">
        <div class="inner">
          <div class="cnt-block">
            <ul class="post-detail">
              <li><span class="icon-date-icon ico"></span> <span class="bold">14 Feb</span> 2017</li>
              <li><span class="icon-chat-icon ico"></span><span class="bold">14</span> Comments</li>
            </ul>
            <h2>July Nutrition Month </h2>
            <p>GO, GROW, and GLOW Foods</p>
            <p>Students prepared HEALTHY FOOD</p>
            <a href="{% url 'news-nationalsafe'%}" class="read-more"><span class="icon-play-icon"></span>Read More</a>
          </div>
        </div>
      </li>
      <li class="col-xs-6 col-sm-4 grid-item">
        <div class="inner"> <img src="{% static 'lgmssis/images/julyactivity9.jpg' %}" class="img-responsive" alt="">
          <div class="cnt-block">
            <ul class="post-detail">
              <li><span class="icon-date-icon ico"></span> <span class="bold">14 Feb</span> 2017</li>
              <li><span class="icon-chat-icon ico"></span><span class="bold">14</span> Comments</li>
            </ul>
            <h2>August : Buwan ng Wika</h2>
            <p>TEMA : Panitikan ng noon isasalin sa ngayon</p>
            <a href="{% url 'news-augustbuwan'%}" class="read-more"><span class="icon-play-icon"></span>Read More</a>
          </div>
        </div>
      </li>
      <li class="col-xs-6 col-sm-4 grid-item">
        <div class="inner"> <img src="{% static 'lgmssis/images/promball.jpg' %}" class="img-responsive" alt="">
          <div class="cnt-block">
            <ul class="post-detail">
              <li><span class="icon-date-icon ico"></span> <span class="bold">14 Feb</span> 2017</li>
              <li><span class="icon-chat-icon ico"></span><span class="bold">14</span> Comments</li>
            </ul>
            <h2>September : Montessori Ball</h2>
            <p>Montessori Magic Ball held on September 05, 2018 in commemoration of 147th Birthday of Maria Montessori</p>
            <a href="{% url 'news-montessorimonth' %}" class="read-more"><span class="icon-play-icon"></span>Read More</a>
          </div>
        </div>
      </li>
      <li class="col-xs-6 col-sm-4 grid-item">
        <div class="inner">
          <div class="cnt-block">
            <ul class="post-detail">
              <li><span class="icon-date-icon ico"></span> <span class="bold">14 Feb</span> 2017</li>
              <li><span class="icon-chat-icon ico"></span><span class="bold">14</span> Comments</li>
            </ul>
            <h2>Family Month </h2>
            <p>Theme : "FAMILYMPICS" held on September 30, 2018 at The Village Sports Club</p>
            <a href="{% url 'news-familymonth'%}" class="read-more"><span class="icon-play-icon"></span>Read More</a>
          </div>
        </div>
      </li>
      <li class="col-xs-6 col-sm-4 grid-item">
        <div class="inner">
          <div class="cnt-block">
            <ul class="post-detail">
              <li><span class="icon-date-icon ico"></span> <span class="bold">14 Feb</span> 2017</li>
              <li><span class="icon-chat-icon ico"></span><span class="bold">14</span> Comments</li>
            </ul>
            <h2>PSAP Palaro 2018 </h2>
            <p>Swimming Competition held on October 03, 2018 at Olivarez College</p>
            <p>FEATURING : Recz Alcantara : LGMS Swimmer</p>
            <p>TAEKWONDO Competition : October 10, 2018</p>
            <p>FEATURING : LGMS Taekwondo TEAM</p>
            <a href="{% url 'news-psap'%}" class="read-more"><span class="icon-play-icon"></span>Read More</a>
          </div>
        </div>
      </li>
      <li class="col-xs-6 col-sm-4 grid-item">
        <div class="inner"> <img src="{% static 'lgmssis/images/psap.jpg' %}" class="img-responsive" alt="">
          <div class="cnt-block">
            <ul class="post-detail">
              <li><span class="icon-date-icon ico"></span> <span class="bold">14 Feb</span> 2017</li>
              <li><span class="icon-chat-icon ico"></span><span class="bold">14</span> Comments</li>
            </ul>
            <h2>OPEN HOUSE </h2>
            <p>We invite parents to bring your friends for a visit and inquiries.</p>
            <a href="{% url 'news-psap' %}" class="read-more"><span class="icon-play-icon"></span>Read More</a>
          </div>
        </div>
      </li>
      <li class="col-xs-6 col-sm-4 grid-item">
        <div class="inner">
          <div class="cnt-block">
            <ul class="post-detail">
              <li><span class="icon-date-icon ico"></span> <span class="bold">14 Feb</span> 2017</li>
              <li><span class="icon-chat-icon ico"></span><span class="bold">14</span> Comments</li>
            </ul>
            <h2>Mid-Year Musical Performance </h2>
            <p>Students Mid-Year Music Recital on October 20, 2018, Saturday</p>
            <a href="{% url 'news-midyearmusical'%}" class="read-more"><span class="icon-play-icon"></span>Read More</a>
          </div>
        </div>
      </li>
    </ul>
    <div class="text-center">
      <ul class="pagination blue">
        <li> <a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</span> </a> </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li> <a href="#" aria-label="Next"> <span aria-hidden="true">Next <i class="fa fa-angle-right" aria-hidden="true"></i></span> </a> </li>
      </ul>
    </div>
  </div>
</section>
<!-- End News & Events -->

{% endblock %}
