{% extends "base_new.html" %}

{% block content %}
{% load static %}
  <!-- Start Banner -->
  <div class="inner-banner blog">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="content">
            <h1>Testimonials</h1>
            <p>Read few feedbacks from Parents.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Banner -->
  <!-- Start Testimonial Section -->
  <section class="testimonial-outer padding-lg">
    <div class="container">
      <ul class="row testimonials">
        <li class="col-xs-6 col-sm-4 grid-item">
          <div class="quotblock"> <img src="{%static "lgmssis/images/kid.png"%}" class="img-responsive img-circle" alt=""> <span class="icon-quote-left-icon"></span>
            <h3>Grade School Parent</h3>
            <span class="desig"> from Brisbane</span>
            <p>Thank you LGMS for all the good memories, and we saw our kids progress and development</p>
          </div>
        </li>
        <li class="col-xs-6 col-sm-4 grid-item">
          <div class="quotblock"> <img src="{%static "lgmssis/images/kid.png"%}" class="img-responsive img-circle" alt=""> <span class="icon-quote-left-icon"></span>
            <h3>CASA Parent</h3>
            <span class="desig">Manila, Philippines</span>
            <p>Keep up the Good work and more power to LGMS. All the best!</p>
          </div>
        </li>
        <li class="col-xs-6 col-sm-4 grid-item">
          <div class="quotblock"> <img src="{%static "lgmssis/images/kid.png"%}" class="img-responsive img-circle" alt=""> <span class="icon-quote-left-icon"></span>
            <h3>Grade III Parent</h3>
            <span class="desig">Manila, Philippines</span>
            <p>Overall we just want to thank LGMS for giving my son a chance to study at your school, and my 
              son doesn't want to transfer anymore and wanted to permanently stay with Ms. Jean De Guzman
            </p>
          </div>
        </li>
        <li class="col-xs-6 col-sm-4 grid-item">
          <div class="quotblock"> <img src="{%static "lgmssis/images/kid.png"%}" class="img-responsive img-circle" alt=""> <span class="icon-quote-left-icon"></span>
            <h3>Grade I Parent</h3>
            <span class="desig">Manila, Philippines</span>
            <p>Facilities and methodology are appropriate to the needs of the pupils.
              Thank you very much for making my son happy in your school. More power and God bless.
            </p>
          </div>
        </li>
        <li class="col-xs-6 col-sm-4 grid-item">
          <div class="quotblock"> <img src="{%static "lgmssis/images/kid.png"%}" class="img-responsive img-circle" alt=""> <span class="icon-quote-left-icon"></span>
            <h3>CASA Parent</h3>
            <span class="desig">Manila, Philippines</span>
            <p>We recommend the school for developing hidden talent of the children</p>
          </div>
        </li>
        <li class="col-xs-6 col-sm-4 grid-item">
          <div class="quotblock"> <img src="{%static "lgmssis/images/kid.png"%}" class="img-responsive img-circle" alt=""> <span class="icon-quote-left-icon"></span>
            <h3>Grade II Parent</h3>
            <span class="desig">Manila, Philippines</span>
            <p>Thank you for all your help in molding our children. One of the best decision we made is enroll them in LGMS.</p>
          </div>
        </li>
        <li class="col-xs-6 col-sm-4 grid-item">
          <div class="quotblock"> <img src="{%static "lgmssis/images/kid.png"%}" class="img-responsive img-circle" alt=""> <span class="icon-quote-left-icon"></span>
            <h3>CASA and Grade School Parent</h3>
            <span class="desig">Manila, Philippines</span>
            <p>I would like to thank LGMS for all the wisdom and learnings you imported to my children. They are advance as compared to other children of the same age</p>
          </div>
        </li>
        <li class="col-xs-6 col-sm-4 grid-item">
          <div class="quotblock"> <img src="{%static "lgmssis/images/kid.png"%}" class="img-responsive img-circle" alt=""> <span class="icon-quote-left-icon"></span>
            <h3>Casa Parent</h3>
            <span class="desig">Manila, Philippines</span>
            <p>My daughter stayed with LGMS for 3 years and she left with a lot of fond memories to think about her first school.</p>
          </div>
        </li>
        <li class="col-xs-6 col-sm-4 grid-item">
          <div class="quotblock"> <img src="{%static "lgmssis/images/kid.png"%}" class="img-responsive img-circle" alt=""> <span class="icon-quote-left-icon"></span>
            <h3>CASA Parent</h3>
            <span class="desig">Recruiter</span>
            <p>Thank you so much for helping shape my son into the boy he is now. We owe a lot to you guys!
              And for this, we are forever grateful!
            </p>
          </div>
        </li>
      </ul>
      <div class="text-center">
        <ul class="pagination blue">
          <li> <a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</span> </a> </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li> <a href="#" aria-label="Next"> <span aria-hidden="true">Next <i class="fa fa-angle-right" aria-hidden="true"></i></span> </a> </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Testimonial Section -->
  {% endblock %}
