lgmsadmin/__pycache__/__init__.cpython-38.pyc
lgmsadmin/__pycache__/admin.cpython-38.pyc
lgmsadmin/__pycache__/apps.cpython-38.pyc
lgmsadmin/__pycache__/forms.cpython-38.pyc
lgmsadmin/__pycache__/models.cpython-38.pyc
lgmsadmin/migrations/0001_initial.py
lgmsadmin/migrations/__pycache__/__init__.cpython-38.pyc
lgmsadmin/migrations/__pycache__/0001_initial.cpython-38.pyc
lgmsadmission/__pycache__/__init__.cpython-38.pyc
lgmsadmission/__pycache__/admin.cpython-38.pyc
lgmsadmission/__pycache__/apps.cpython-38.pyc
lgmsadmission/__pycache__/forms.cpython-38.pyc
lgmsadmission/__pycache__/models.cpython-38.pyc
lgmsadmission/__pycache__/views.cpython-38.pyc
lgmsadmission/migrations/0001_initial.py
lgmsadmission/migrations/0001_initial.py
lgmsadmission/migrations/0002_inquiry.py
lgmsadmission/migrations/0003_auto_20190615_1153.py
lgmsadmission/migrations/__pycache__/__init__.cpython-37.pyc
lgmsadmission/migrations/__pycache__/__init__.cpython-38.pyc
lgmsadmission/migrations/__pycache__/0001_initial.cpython-37.pyc
lgmsadmission/migrations/__pycache__/0001_initial.cpython-38.pyc
lgmsadmission/migrations/__pycache__/0002_inquiry.cpython-37.pyc
lgmsadmission/migrations/__pycache__/0003_auto_20190615_1153.cpython-37.pyc
lgmsadmission/migrations/0001_initial.py
lgmsadmission/migrations/0002_inquiry.py
lgmsadmission/migrations/0003_auto_20190615_1153.py
lgmsadmission/migrations/__pycache__/__init__.cpython-37.pyc
lgmsadmission/migrations/__pycache__/0001_initial.cpython-37.pyc
lgmsadmission/migrations/__pycache__/0002_inquiry.cpython-37.pyc
lgmsadmission/migrations/__pycache__/0003_auto_20190615_1153.cpython-37.pyc
lgmsbenchmarkgrade/__pycache__/__init__.cpython-38.pyc
lgmsbenchmarkgrade/__pycache__/admin.cpython-38.pyc
lgmsbenchmarkgrade/__pycache__/apps.cpython-38.pyc
lgmsbenchmarkgrade/__pycache__/models.cpython-38.pyc
lgmsbenchmarkgrade/migrations/0001_initial.py
lgmsbenchmarkgrade/migrations/0002_initial.py
lgmsbenchmarkgrade/migrations/0003_initial.py
lgmsbenchmarkgrade/migrations/__pycache__/__init__.cpython-38.pyc
lgmsbenchmarkgrade/migrations/__pycache__/0001_initial.cpython-38.pyc
lgmsbenchmarkgrade/migrations/__pycache__/0002_initial.cpython-38.pyc
lgmsbenchmarkgrade/migrations/__pycache__/0003_initial.cpython-38.pyc
lgmsbenchmarks/__pycache__/__init__.cpython-38.pyc
lgmsbenchmarks/__pycache__/admin.cpython-38.pyc
lgmsbenchmarks/__pycache__/apps.cpython-38.pyc
lgmsbenchmarks/__pycache__/models.cpython-38.pyc
lgmsbenchmarks/migrations/0001_initial.py
lgmsbenchmarks/migrations/__pycache__/__init__.cpython-38.pyc
lgmsbenchmarks/migrations/__pycache__/0001_initial.cpython-38.pyc
lgmscounsel/__pycache__/__init__.cpython-38.pyc
lgmscounsel/__pycache__/admin.cpython-38.pyc
lgmscounsel/__pycache__/apps.cpython-38.pyc
lgmscounsel/__pycache__/lookups.cpython-38.pyc
lgmscounsel/__pycache__/models.cpython-38.pyc
lgmscounsel/migrations/__pycache__/__init__.cpython-38.pyc
lgmscounsel/migrations/__pycache__/0001_initial.cpython-38.pyc
lgmsdiscipline/__pycache__/__init__.cpython-38.pyc
lgmsdiscipline/__pycache__/admin.cpython-38.pyc
lgmsdiscipline/__pycache__/apps.cpython-38.pyc
lgmsdiscipline/__pycache__/lookups.cpython-38.pyc
lgmsdiscipline/__pycache__/models.cpython-38.pyc
lgmsdiscipline/migrations/__pycache__/__init__.cpython-38.pyc
lgmsdiscipline/migrations/__pycache__/0001_initial.cpython-38.pyc
lgmsexam/__pycache__/__init__.cpython-38.pyc
lgmsexam/__pycache__/admin.cpython-38.pyc
lgmsexam/__pycache__/apps.cpython-38.pyc
lgmsexam/__pycache__/models.cpython-38.pyc
lgmsexam/migrations/0001_initial.py
lgmsexam/migrations/__pycache__/__init__.cpython-38.pyc
lgmsexam/migrations/__pycache__/0001_initial.cpython-38.pyc
lgmsgrades/__pycache__/__init__.cpython-38.pyc
lgmsgrades/__pycache__/admin.cpython-38.pyc
lgmsgrades/__pycache__/apps.cpython-38.pyc
lgmsgrades/__pycache__/models.cpython-38.pyc
lgmsgrades/migrations/__pycache__/__init__.cpython-38.pyc
lgmsgrades/migrations/__pycache__/0001_initial.cpython-38.pyc
lgmsgrades/migrations/__pycache__/0002_auto_20190610_1430.cpython-38.pyc
lgmsschedule/__pycache__/__init__.cpython-38.pyc
lgmsschedule/__pycache__/admin.cpython-38.pyc
lgmsschedule/__pycache__/apps.cpython-38.pyc
lgmsschedule/__pycache__/models.cpython-38.pyc
lgmsschedule/migrations/0003_department_departmentgraduationcredits.py
lgmsschedule/migrations/__pycache__/__init__.cpython-38.pyc
lgmsschedule/migrations/__pycache__/0001_initial.cpython-38.pyc
lgmsschedule/migrations/__pycache__/0002_auto_20190610_1157.cpython-38.pyc
lgmsschedule/migrations/__pycache__/0003_department_departmentgraduationcredits.cpython-38.pyc
lgmssis/__init__.py
users/tempviews/__pycache__/teachers.cpython-38.pyc
users/tempviews/__pycache__/students.cpython-38.pyc
users/tempviews/__pycache__/parents.cpython-38.pyc
users/migrations/__pycache__/0014_alter_application_howdidyouhear_and_more.cpython-38.pyc
users/migrations/__pycache__/0013_auto_20190615_1153.cpython-38.pyc
users/migrations/__pycache__/0012_auto_20190611_1631.cpython-38.pyc
users/migrations/__pycache__/0011_auto_20190611_1552.cpython-38.pyc
users/migrations/__pycache__/0010_auto_20190610_1452.cpython-38.pyc
users/migrations/__pycache__/0009_auto_20190610_1430.cpython-38.pyc
users/migrations/__pycache__/0008_auto_20190610_1157.cpython-38.pyc
users/migrations/__pycache__/0007_auto_20190610_1152.cpython-38.pyc
users/migrations/__pycache__/0006_auto_20190610_1125.cpython-38.pyc
users/migrations/__pycache__/0005_auto_20190610_1107.cpython-38.pyc
users/migrations/__pycache__/0004_auto_20190610_1019.cpython-38.pyc
users/migrations/__pycache__/0003_auto_20190609_0838.cpython-38.pyc
users/migrations/__pycache__/0002_auto_20190608_2204.cpython-38.pyc
users/migrations/__pycache__/0001_initial.cpython-38.pyc
users/migrations/__pycache__/__init__.cpython-38.pyc
users/migrations/0014_alter_application_howdidyouhear_and_more.py
users/__pycache__/views.cpython-38.pyc
users/__pycache__/signals.cpython-38.pyc
users/__pycache__/models.cpython-38.pyc
users/__pycache__/forms.cpython-38.pyc
users/__pycache__/decorators.cpython-38.pyc
users/__pycache__/apps.cpython-38.pyc
users/__pycache__/admin.cpython-38.pyc
users/__pycache__/__init__.cpython-38.pyc
online_lgms/__pycache__/wsgi.cpython-38.pyc
online_lgms/__pycache__/urls.cpython-39.pyc
online_lgms/__pycache__/urls.cpython-38.pyc
online_lgms/__pycache__/settings.cpython-39.pyc
online_lgms/__pycache__/settings.cpython-38.pyc
online_lgms/__pycache__/__init__.cpython-39.pyc
online_lgms/__pycache__/__init__.cpython-38.pyc
lgmssis/migrations/__pycache__/0015_percoursecohort_studentcohort_delete_subjectcourse_and_more.cpython-38.pyc
lgmssis/migrations/__pycache__/0014_auto_20190618_1612.cpython-38.pyc
lgmssis/migrations/__pycache__/0013_auto_20190615_1153.cpython-38.pyc
lgmssis/migrations/__pycache__/0012_auto_20190611_1631.cpython-38.pyc
lgmssis/migrations/__pycache__/0011_auto_20190611_1552.cpython-38.pyc
lgmssis/migrations/__pycache__/0010_auto_20190610_1452.cpython-38.pyc
lgmssis/migrations/__pycache__/0009_auto_20190610_1430.cpython-38.pyc
lgmssis/migrations/__pycache__/0008_auto_20190610_1157.cpython-38.pyc
lgmssis/migrations/__pycache__/0007_auto_20190610_1152.cpython-38.pyc
lgmssis/migrations/__pycache__/0006_auto_20190610_1125.cpython-38.pyc
lgmssis/migrations/__pycache__/0005_auto_20190610_1107.cpython-38.pyc
lgmssis/migrations/__pycache__/0004_auto_20190610_1019.cpython-38.pyc
lgmssis/migrations/__pycache__/0003_auto_20190609_0838.cpython-38.pyc
lgmssis/migrations/__pycache__/0002_auto_20190608_2204.cpython-38.pyc
lgmssis/migrations/__pycache__/0001_initial.cpython-38.pyc
lgmssis/migrations/__pycache__/__init__.cpython-38.pyc
lgmssis/migrations/0015_percoursecohort_studentcohort_delete_subjectcourse_and_more.py
lgmssis/__pycache__/views.cpython-38.pyc
lgmssis/__pycache__/urls.cpython-38.pyc
lgmssis/__pycache__/models.cpython-38.pyc
lgmssis/__pycache__/lookups.cpython-38.pyc
lgmssis/__pycache__/helper_functions.cpython-38.pyc
lgmssis/__pycache__/forms.cpython-38.pyc
lgmssis/__pycache__/apps.cpython-38.pyc
lgmssis/__pycache__/admin.cpython-38.pyc
lgmssis/__pycache__/__init__.cpython-38.pyc
lgms.code-workspace
lgms.code-workspace
