{% extends "base_registration.html"%}
{% load crispy_forms_tags %}


{% block content %}
<section class="login-wrapper register">
        <div class="inner">
            <div class="regiter-inner">
                <div class="login-logo"> <a href="index.html"><img src="images/login-logo.png" class="img-responsive" alt=""></a> </div>
                <div class="head-block">
                    <h1>Apply Now</h1>
                </div>
                <div class="cnt-block">
                    <form method="POST" class="form-outer">
                        {% csrf_token %}
                    
                        {{ app_form | crispy }}
                        <div class="button-outer">
                            <button class="btn">Submit <span class="icon-more-icon"></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}